<footer>

  <div class="container">

      <div class="footer-body">


          <div class="row">
              <div class="col-md-4 footer_info">

                  <ul>
                      <li><a href="">Lorem, ipsum dolor.</a></li>
                      <li><a href="">Lorem ipsum dolor sit.</a></li>
                      <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                  </ul>

              </div>

              <div class="col-md-4 footer_info">
                  <ul>
                      <li><a href="">Lorem, ipsum dolor.</a></li>
                      <li><a href="">Lorem ipsum dolor sit.</a></li>
                      <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                  </ul>
              </div>

              <div class="col-md-4 footer_info">
                  <ul>
                      <li><a href="">Lorem, ipsum dolor.</a></li>
                      <li><a href="">Lorem ipsum dolor sit.</a></li>
                      <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                  </ul>
              </div>

          </div>

      </div>



      <hr>




      <div class="footer_icons">

          <div>
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              <a href="">Facebook</a>
          </div>

          <div>
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <a href="">Instagram</a>
          </div>

          <div>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <a href="">Twitter</a>
          </div>

          <div>
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <a href="">Linkedin</a>
          </div>

          <div>
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
              <a href="">Youtube</a>
          </div>





      </div>





      <div class="footer_p">

          <p class="text-muted">©2022 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat,
              laboriosam.</p>

      </div>

  </div>

</footer>

<!-- footer end -->



<a id="up" href="/">Yukarı</a>
