footer {
  height: 15rem;
  background-color: rgb(90, 89, 89);
}

footer hr {
  color: rgb(0, 0, 0);

}

footer ul li a {
  color: rgb(167, 167, 167);
}

.footer_info {
  margin-top: 2rem;
}

.footer_info li a{
  transition: color 0.5s;
}

.footer_info li a:hover {
  color: rgb(255, 255, 255);



}

.footer_icons {
  margin-top: 1rem;
  text-align: center;
  margin-left: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.footer_icons div{
  margin-right: 1.5rem;


}

.footer_icons div a{
  transition: color 0.5s;

}

.footer_icons div a:hover{
  color: white;

}


.footer_icons i {
  color: white;
}


.footer_icons a {
  color: rgb(167, 167, 167);
  margin-left: 0.5rem;

}

.footer_icons p {
  margin-top: 1rem;
}

.footer_p {
  text-align: center;
}



#button {
  display: inline-block;
  background-color: #89bff5;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #0d6efd;

}
#button:active {
  background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
  }
