<div id="createCard" class="container mt-3">

  <form #form="ngForm" (ngSubmit)="createCard()">

      <h2 class="text-center mt-2">Create Card</h2>

      <div class="form-group mb-2">
        <label class="form-label mb-1" for="title" id="title" name="title">Card Title</label>
        <input required minlength="5" #title="ngModel" (change)="log(title)" [(ngModel)]="model.title"
          class="form-control" type="text" id="title" name="title">
        <div class="alert alert-danger mt-2" *ngIf="title.touched && title.invalid">
          <p *ngIf="title.errors?.['required']">Bu alan boş bırakılamaz</p>
          <p *ngIf="title.errors?.['minlength']">En az 5 karakter kullanılmalı</p>
        </div>
      </div>

      <div class="form-group mb-2">
        <label class="form-label mb-1" for="description" id="description" name="description">Card Description</label>
        <textarea required minlength="10" [(ngModel)]="model.description" class="form-control" type="text"
          id="description" #description="ngModel" name="description"></textarea>
        <div class="alert alert-danger mt-2" *ngIf="description.touched && description.invalid">
          <p *ngIf="description.errors?.['required']">Bu alan boş bırakılamaz</p>
          <p *ngIf="description.errors?.['minlength']">En az 10 karakter kullanılmalı</p>
        </div>
      </div>

      <div class="form-group mb-2">
        <label class="form-label mb-1" for="imageUrl" id="imageUrl" name="imageUrl">Card Image</label>
        <input required [(ngModel)]="model.imageUrl" class="form-control" type="text" id="imageUrl" name="imageUrl"
          #imageUrl="ngModel">
        <div class="alert alert-danger mt-2" *ngIf="imageUrl.touched && imageUrl.invalid">
          <p *ngIf="imageUrl.errors?.['required']">Bu alan boş bırakılamaz</p>
        </div>
      </div>


      <div class="form-group mb-3">
        <label class="form-label mb-1" for="category" id="category" name="category">Card Category</label>
        <select required [(ngModel)]="model.category" name="category" id="category" class="form-select"
          #category="ngModel">
          <option value="">Seçiniz</option>
          <option *ngFor="let item of categories" [value]="item.name">{{item.name | uppercase}}</option>
        </select>
        <div class="alert alert-danger mt-2" *ngIf="category.touched && category.invalid">
          <p *ngIf="category.errors?.['required']">Bu alan boş bırakılamaz</p>
        </div>
      </div>

      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Create</button>
      <button type="reset" class="btn btn-danger ms-md-2">Temizle</button>

  </form>


</div>
