#title{
  background-color:#89bff5;
  padding: 0.5rem;
}

#readMore{
  margin-left: 0.6rem;
  padding: 0.6rem 0.5rem;
  border: 1px solid black;

}

#addToList{
  margin-left: 0.6rem;
  padding: 0.6rem 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}

#searchInput{

  background-color:#e1f0ff;
}

.cardItem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cardItem:hover {
  opacity: .9;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .8);
}

.cardItem .card-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.cardItem .card-text {
  text-align: justify;
  text-indent: 1rem;
}

.cardItem img {

  height: 25rem;

}

.footer-left{
  display: inline-block;
  margin-top: 0.2rem;
}

.footer-left span{
  margin-right: 1.5rem;
}

.footer-right{

  float: right;
}
